<div class="modal-backdrop">
  <div class="modal-content">
    <h2 class="header-finanz">Finanzierung abbrechen und zurück zum Shop?</h2>

    <div class="contact-info">
      <p>Können wir helfen?</p>
      <p class="phone-number">
        <strong
          ><img src="assets/phone-small-icon.svg" alt="" /> 0203 / 3469
          5906</strong
        >
      </p>
      <p>
        Mo - Sa von 8:00 bis 20:00 Uhr
        <br /><small>(Es gelten die Tarife für Anrufe ins dt. Festnetz) </small>
      </p>
    </div>

    <div class="modal-actions">
      <button (click)="continueWithFinancing()" class="btn button-primary">
        Weiter mit Finanzierung
      </button>
      <button (click)="goBackToShop()" class="btn button-secondary">
        Zurück zum Shop
      </button>
    </div>
  </div>
</div>
