.btn-success {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

/* Container styling */
.stepper-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px 0 8px;
  gap: 16px;
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  padding-bottom: 0px;
}

/* Title styling */
.title-ihre-online-finanzierung {
  font-family: "BNPP Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #000;
  margin: 0;
}

.stepper-tooltip {
  width: 24px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-right: 1px;
}

.summary-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

/* Individual info rows */
.summary-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Labels and values */
.label {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #555;
  margin: 0;
}

.value {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin: 0;
}

.separator {
  width: 100%;
  height: 1px;
  /* background-color: #ddd; */
  border: 1px solid #d6d6d6;
  margin: 16px 0;
}
