<div class="details-wrapper" [class.active]="detailsVisible">
  <div class="details">
    <div class="summary-text">
      <h6 class="title">Ihren Angaben zur Finanzierung</h6>
    </div>
    <div class="details-row">
      <span class="details-label">Ihr Kauf bei:</span>
      <span class="details-value-ihr-kauf"><strong>Testhändler</strong></span>
    </div>
    <div class="divider"></div>
    <div class="summary-text">
      <h6 class="title-finanz">Ihren Angaben zur Finanzierung</h6>
    </div>
    <div class="summary-set">
      <div class="details-row">
        <span class="details-label">Finanzierungsbetrag:</span>
        <span class="details-value-finanz"><strong>2.899,90 €</strong></span>
      </div>
      <div class="details-row">
        <span class="details-label">Monatliche Wunschrate:</span>
        <span class="details-value">18,16 €</span>
      </div>
      <div class="details-row">
        <span class="details-label">Mögliche Anzahl der Monatsraten:</span>
        <span class="details-value">26 Monate</span>
      </div>
      <div class="details-row">
        <span class="details-label">Sollzinssatz für diesen Einkauf:</span>
        <span class="details-value">6,75 % (jährl., gebunden)</span>
      </div>
      <div class="details-row">
        <span class="details-label"
          >Mögliche Sollzinsen für diesen Einkauf:</span
        >
        <span class="details-value">39,98 €</span>
      </div>
      <div class="details-row">
        <span class="details-label">Rateneinzug:</span>
        <span class="details-value">Zum 1. des Monats</span>
      </div>
    </div>
  </div>
</div>
