.stepper-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 0px;
}

.title-ihre-online-finanzierung {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  display: flex;
  align-items: center;
  color: #000;
  margin: 0;
}

.btn-success {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.stepper-tooltip {
  width: 24px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-right: 1px;
}

.summary-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-bottom: 12px;
}

.summary-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.label {
  font-weight: normal;
  font-size: 16px;
  color: #555;
  margin: 0;
}

.value {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin: 0;
}

.container {
  padding: 16px;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
}

.tabs {
  display: flex;
  padding: 4px;
  gap: 6px;
  background: #f0f0f0;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.tab {
  flex: 1;
  border: none;
  padding: 0px 8px;
  height: 36px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  color: #2d2926;
}

.active-tab {
  padding: 0px 8px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  font-weight: 400;
}

.title-rate-selection {
  font-weight: 700;
  padding: 8px 0px;
  font-size: 20px;
}

.title-rate-selection > h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2d2926;
  margin: 0;
  padding: 10px 0;
}

.rate-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57%;
  height: 44px;
  padding: 0;
  background: #00965e;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #00965e;
}

.arrow-btn:hover,
.arrow-btn:focus {
  background-color: black;
  border: 1px solid black;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #F75E00;
  color: white;
}

.rate-btn {
  font-family: "BNPPSansCondensed";
  width: 100%;
  height: 44px;
  padding: 8px 4px;
  text-align: center;
  background: #ffffff;
  border: 2px solid #c3c3c3;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
}

.active {
  border-color: #007548;
  font-weight: 700;
}

.rate-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.rate-btn:hover,
.rate-btn:focus {
  background: #f0f0f0;
}

.rate-btn.active {
  background-color: #e6ffe6;
}

.option-btn {
  flex: 1 1 calc(50% - 8px);
  padding: 8px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #007548;
  border-radius: 2px;
  cursor: pointer;
  color: #007548;
  font-weight: 400;
}

.option-btn:hover,
.option-btn:focus {
  border: 1px solid black;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #F75E00;
  color: black;
}

.financing-plan {
  border-radius: 8px;
  background-color: #fff;
  margin-top: 20px;
  padding: 16px;
}

.financing-plan h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2d2926;
  margin-bottom: 12px;
}

.plan-details {
  margin-bottom: 16px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  color: #2d2926;
}

.detail-row strong {
  font-size: 16px;
  font-weight: 700;
}

.rate-deduction {
  margin-top: 16px;
}

.rate-deduction span {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
  color: #2d2926;
}

.custom-switch {
  width: 38px;
  height: 22px;
  border-radius: 15px;
  background-color: #008000;
  transition: background-color 0.3s ease;
  position: relative;
}

.custom-switch:checked {
  background-color: #008000;
}

.custom-switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.1s ease;
  transform: translateX(0);
}

.custom-switch:checked::before {
  transform: translateX(16px);
}

.toggle-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.rateneinzug {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.switch-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.separator {
  width: 100%;
  height: 1px;
  border: 1px solid #d6d6d6;
}

.finance-container {
  margin: 20px;
}

.online-credit-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  color: #2d2926;
}

.online-credit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.step-circle {
  position: relative;
  width: 48px;
  height: 48px;
}

.step-circle .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.step-circle .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.card-info p {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
}

.card-image {
  margin-top: 10px;
  justify-self: center;
}

.faq-section {
  margin: 10px 0;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 10px 0;
  color: #007548;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.faq-item img {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease-in-out;
}

.faq-content {
  padding: 10px 0;
  font-size: 14px;
  color: #555;
}

.arrow {
  margin-left: 10px;
}

.button-container {
  width: 100%;
  text-align: center;
}

.cta-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;

  width: 100%;
  color: white;
  background: #007548;
  border-radius: 2px;
}

.cta-button:hover,
.cta-button:focus {
  background-color: darkgreen;
}

.disable {
  background-color: #A6A6A6;
}

.disable:hover,
.disable:focus {
  background-color: #A6A6A6;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #F75E00;
}