<div class="finance-item">
  <div class="circle"><p class="p-finance-item">1</p></div>
  <div class="text-content">
    <p>
      Finanzierung Ihres Einkaufs (Ratenplan-Verfügung) über den Kreditrahmen,
      den Sie wiederholt in Anspruch nehmen können. Nettodarlehensbetrag
      bonitätsabhängig bis 15.000 €, 18,90 % effektiver Jahreszinssatz.
      Vertragslaufzeit auf unbestimmte Zeit.
    </p>
    <h3>Ratenplan-Verfügung:</h3>
    <p>
      Gebundener Sollzinssatz von 6,75 % (jährlich) gilt nur für die ersten 30
      Monate ab Vertragsschluss (Zinsbindungsdauer). Sie müssen monatliche
      Teilzahlungen in der von Ihnen gewählten Höhe leisten. Führen Sie Ihre
      Ratenplan-Verfügung nicht innerhalb der Zinsbindungsdauer zurück, gelten
      die Konditionen für Folgeverfügungen.
    </p>
    <h3>Folgeverfügungen:</h3>
    <p>
      Für andere und künftige Verfügungen (Folgeverfügungen) beträgt der
      veränderliche Sollzinssatz (jährlich) 17,44 % (falls Sie bereits einen
      Kreditrahmen bei uns haben, kann der tatsächliche veränderliche
      Sollzinssatz abweichen). Für Folgeverfügungen müssen Sie monatliche
      Teilzahlungen in der von Ihnen gewählten Höhe, mind. aber 3,0% des jeweils
      höchsten, auf volle 100 € gerundeten Sollsaldos der Folgeverfügungen
      (mind. 9 €) leisten. Zahlungen für Folgeverfügungen werden erst auf
      verzinste Folgeverfügungen angerechnet, bei unterschiedlichen Zinssätzen
      zuerst auf die höher verzinsten. Angaben zugleich repräsentatives Beispiel
      gem. § 17 PangV. Die Kreditvermittlung des Finanzierungspartners erfolgt
      ausschließlich für den Kreditgeber BNP Paribas S.A. Niederlassung
      Deutschland, Rüdesheimer Straße 1, 80686 München.
    </p>
  </div>
</div>
<div class="separator"></div>
<div class="credit-process">
  <h2>So funktioniert Ihr Online-Kredit:</h2>
  <div class="step">
    <div class="icon">
      <img src="assets/baggage-icon.svg" alt="Step 1 Icon" />
      <div class="line"></div>
    </div>
    <p>
      Einrichtung eines individuellen Verfügungsrahmens zu Ihrer Finanzierung
    </p>
  </div>
  <div class="step">
    <div class="icon">
      <img src="assets/baggage-euro-icon.svg" alt="Step 2 Icon" />
      <div class="line"></div>
    </div>
    <p>Einbuchung der Finanzierung auf dem Verfügungsrahmen</p>
  </div>
  <div class="step last">
    <div class="icon">
      <img src="assets/card-icon.svg" alt="Step 3 Icon" />
    </div>
    <p>Einsatz Ihrer kostenlosen Mastercard® für weitere Einkäufe</p>
  </div>
</div>
