<div class="separator"></div>
<div class="info-section">
  <ul class="info-list">
    <li>Datenschutz-Einstellungen</li>
    <li>Impressum</li>
    <li>FAQ</li>
    <li>Datenschutz</li>
  </ul>
  <div class="contact-section">
    <div class="phone-info">
      <div>
        <span class="phone-number">
          <img
            src="assets/phone-icon.png"
            class="phone-icon"
            alt="phone-icon"
          />0203 / 34 69 53 01</span
        >
        <p class="text-number">
          (Es gelten die Tarife
          <br />
          für Anrufe ins dt. Festnetz)
        </p>
        <p class="text-number">Mo - Sa von 8:00 bis 20:00 Uhr</p>
      </div>
    </div>
  </div>
</div>
<div class="seal">
  <img src="assets/kredit-mit.png" alt="seal" />
</div>
